.mainVid {
  max-width: 1280px;
  margin-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}

.vidInfo {
  display: flex;
  flex-direction: column;
}

.vidTitle {
  align-self: flex-start;
}

.vidDetails {
  display: flex;
}

.controls {
  margin-left: auto;
}

.vidDesc {
  display: flex;
  justify-content: space-between;
}

.channelImg {
  max-height: 48px;
  max-width: 48px;
  border-radius: 48px;
}

.descInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribeBtn {
  color: white;
  background-color: red;
  border-radius: 2px;
  border: none;
  width: 110px;
  height: 37px;
  font-size: 18px;
  margin-right: 20px;
}
